<div class="footer">	

	<picture class="picture">
	    <source 
	    	media="(max-width: 812px)" 
	    	srcset="{f:uri.image(src:'fileadmin\resources\images\footer_johanna_small_ratio.jpg', width:'812c')}, 
	    			{f:uri.image(src:'fileadmin\resources\images\footer_johanna_small_ratio.jpg', width:'1624c')} 2x"
	    >
	   	<source 
	    	media="(max-width: 1280px)" 
	    	srcset="{f:uri.image(src:'fileadmin\resources\images\footer_johanna_small_ratio.jpg', width:'1280c')}, 
	    			{f:uri.image(src:'fileadmin\resources\images\footer_johanna_small_ratio.jpg', width:'2560c')} 2x"
	    >
	   	<source 
	    	media="(min-width: 1921px)" 
	    	srcset="{f:uri.image(src:'fileadmin\resources\images\footer_johanna_small_ratio.jpg', width:'2400c')}"
	    >
	    <f:image src="fileadmin\resources\images\footer_johanna_small_ratio.jpg"
	    	width="1920c"
	        title="johanna"
	        alt="johanna"
	    />
	</picture>

	<div class="text-wrapper">
		<div class="social-media">
			<span class="header social-media-header">Social Media</span>
			<div class="social-media-icons-wrapper">
				<f:link.typolink parameter="{general_data.tx_mask_facebook_link}" title="facebook" class="link facebook-link" target="_blank">
					<i class="icon-facebook"></i>
				</f:link.typolink>
				<f:link.typolink parameter="{general_data.tx_mask_instagram_link}" title="instagram" class="link instagram-link" target="_blank">
					<i class="icon-instagram"></i>
				</f:link.typolink>
			</div>
		</div>

		<div class="contact">
			<span class="header contact-header">Contact Me</span>
			<f:link.typolink parameter="tel:{general_data.tx_mask_phone_number}" title="anrufen" class="link phone-link">
				<i class="icon-phone"></i>
				<span class="phone-number">{general_data.tx_mask_phone_number}</span>
			</f:link.typolink>
			<f:link.typolink parameter="{general_data.tx_mask_mail_adress}" title="mail" class="link mail-link">
				<i class="icon-envelop"></i>
				<span class="mail-adress">{general_data.tx_mask_mail_adress}</span>
			</f:link.typolink>
		</div>

		<f:link.typolink parameter="14" title="imprint" class="link imprint-link">
			<span class="header imprint-header">imprint</span>
		</f:link.typolink>

		<span class="copyright-text">
			Made with <i class="icon-love heart"></i> by
			<f:link.typolink parameter="www.facebook.com/jakob.dellago" title="Jakob" class="facebook-link-jakob" target="_blank">
				Jakob
			</f:link.typolink>
		</span>

		<span class="copyright-text">Copyright © 2018 JozeeDesign</span>
	</div>

	


</div>
