<f:if condition="{data.tx_mask_phone_number}">
	<b>Telefonnummer:</b><br/>
	{data.tx_mask_phone_number}
	<br/><br/>
</f:if>

<f:if condition="{data.tx_mask_mail_adress}">
	<b>Telefonnummer:</b><br/>
	{data.tx_mask_mail_adress}
	<br/><br/>
</f:if>

<f:if condition="{data.tx_mask_facebook_link}">
	<b>Link zur Facebookseite:</b><br/>
	{data.tx_mask_facebook_link}
	<br/><br/>
</f:if>

<f:if condition="{data.tx_mask_instagram_link}">
	<b>Link zur Instagramseite:</b><br/>
	{data.tx_mask_instagram_link}
	<br/><br/>
</f:if>

<f:if condition="{data.bodytext}">
	<b>Cookiebannertext:</b><br/>
	<f:format.html>{data.bodytext}</f:format.html>
</f:if>