{namespace v=FluidTYPO3\Vhs\ViewHelpers}

{v:iterator.explode(content: '{data.tx_mask_product_selector}', glue: ',') -> f:variable(name: 'selectedProductsArray')}
	
	<f:if condition="{data.header}">
		<b>Header:</b><br/>{data.header}<br/><br/>
	</f:if>

	<b>Größe:</b><br/>
	<f:if condition="{data.tx_mask_small_checkbox} == 1">
		<f:then>
			Klein
		</f:then>
		<f:else>
			Groß
		</f:else>
	</f:if>
	<br/><br/>

	<b>Slider:</b><br/>
	<f:if condition="{data.tx_mask_active_slider} == 1">
		<f:then>
			aktiviert
		</f:then>
		<f:else>
			deaktiviert
		</f:else>
	</f:if>
	<br/><br/>

	<b>Selectbox:</b><br/>
	<f:if condition="{data.tx_mask_render_category_selectbox} == 1">
		<f:then>
			aktiviert
		</f:then>
		<f:else>
			deaktiviert
		</f:else>
	</f:if>

	<f:comment>
	<b>Angezeigte Produkte:</b>
	<f:for each="{products}" as="product">
		<f:for each="{selectedProductsArray}" as="selectedProduct">
			<f:if condition="{product.data.uid} == {selectedProduct}">
				{v:format.replace(substring: ',', content: '{product.data.tx_mask_product_categories}', replacement: '","') -> f:variable(name: 'product_categories_formatted')}
					{product.header}<br/>	
			</f:if>
		</f:for>
	</f:for>
	</f:comment>

</div>