<f:if condition="{data.tx_mask_phone_number}">
{data.tx_mask_phone_number}<br />
</f:if>

<f:if condition="{data.tx_mask_mail_adress}">
{data.tx_mask_mail_adress}<br />
</f:if>

<f:if condition="{data.tx_mask_facebook_link}">
<f:link.typolink parameter="{data.tx_mask_facebook_link}">{data.tx_mask_facebook_link}</f:link.typolink><br />
</f:if>

<f:if condition="{data.tx_mask_instagram_link}">
<f:link.typolink parameter="{data.tx_mask_instagram_link}">{data.tx_mask_instagram_link}</f:link.typolink><br />
</f:if>

