
<div class="product content-element product-detail" data-category="{data.tx_mask_product_categories}">

	<picture class="picture">
        <source 
            media="(max-width: 812px)" 
            srcset="{f:uri.image(image:'{data.image.0}', height:'500c', width:'500c', treatIdAsReference:'1')}, 
                    {f:uri.image(image:'{data.image.0}', height:'1000c', width:'1000c', treatIdAsReference:'1')} 2x"
        >

        <source 
            media="(max-width: 1280px)" 
            srcset="{f:uri.image(image:'{data.image.0}', height:'800c', width:'800c', treatIdAsReference:'1')}, 
                    {f:uri.image(image:'{data.image.0}', height:'1600c', width:'1600c', treatIdAsReference:'1')} 2x"
        >

        <source 
            media="(min-width: 1281px)" 
            srcset="{f:uri.image(image:'{data.image.0}', height:'540c', width:'960c', treatIdAsReference:'1')}, 
                    {f:uri.image(image:'{data.image.0}', height:'1080c', width:'1920c', treatIdAsReference:'1')} 2x"
        >

        <f:image image="{data.image.0}"
            height="1000c"
            width="1600c"
            title="{product.data.header}"
            alt="{product.data.header}"
            treatIdAsReference="1"
        />
    </picture>

	<f:if condition="{data.header}">
		<h1 class="header">{data.header}</h1>
	</f:if>

	<f:if condition="{data.subheader}">
		<h2 class="subheader">{data.subheader}</h2>
	</f:if>

	<f:if condition="{data.bodytext}">
		<div class="bodytext">
			<f:format.html>{data.bodytext}</f:format.html>
		</div>
	</f:if>

	<div class="hidden more-button">
		<span>mehr lesen</span>
		<i class="icon-arrow-right"></i>
	</div>

	<f:if condition="{data.tx_mask_price}">
		<div class="price-wrapper">
			<p class="price">{data.tx_mask_price} €</p>
		</div>
	</f:if>

	<div class="button-wrapper">

		<f:if condition="{data.header_link}">
			<div class="shop-link">
				<f:link.typolink parameter="{data.header_link}" title="button" class="shop-button" target="_blank">
					<span>zum shop</span>
					<i class="icon-arrow-right"></i>
				</f:link.typolink>
			</div>
		</f:if>


		<div class="mail-link">
			<f:link.typolink 
			parameter="mailto:jozee.designs@gmail.com?subject=Anfrage:%20{f:cObject(typoscriptObjectPath: 'lib.spaceToHexa20', data: '{data.header}')}&body=Hallo%20Johanna,%20ich%20bin%20an%20deinen%20Produkten%20interessiert!"
			title="button"
			class="mail-button">
				<span>mailanfrage</span>
				<i class="icon-envelop"></i>
			</f:link.typolink>
		</div>


	</div>

</div>

