{namespace v=FluidTYPO3\Vhs\ViewHelpers}

{v:iterator.explode(content: '{data.tx_mask_product_selector}', glue: ',') -> f:variable(name: 'selectedProductsArray')}

<div class="product-link content-element {f:if(condition: '{data.tx_mask_small_checkbox} == 1', then: 'small', else: 'large')} {f:if(condition: '{data.tx_mask_active_slider} == 1', then: 'slider', else: 'no-slider')} {f:if(condition: '{data.tx_mask_render_category_selectbox}', then: 'selectbox', else: 'no-selectbox')}"
>
	
	<f:if condition="{data.header}">
		<div class="upper-header-wrapper">
			<h2 class="upper-header">
				{data.header}
			</h2>
		</div>
	</f:if>

	<f:if condition="{data.tx_mask_render_category_selectbox}">
		<div class="selectbox-wrapper">
			<select class="custom-select">
				<option value="0">Alle Produkte</option>
				<f:for each="{available_categories}" as="category">
	  				<option value="{category.data.uid}">{category.data.tx_mask_category}</option>
				</f:for>
			</select>
		</div>
	</f:if>

	<div class="product-list-wrapper">
		<f:for each="{products}" as="product">
			<f:for each="{selectedProductsArray}" as="selectedProduct">
				<f:if condition="{product.data.uid} == {selectedProduct}">
					{v:format.replace(substring: ',', content: '{product.data.tx_mask_product_categories}', replacement: '","') -> f:variable(name: 'product_categories_formatted')}
					<div class="product" data-groups='["{product_categories_formatted}"]'>
						<f:if condition="{data.tx_mask_small_checkbox} == 0">
							<f:then>
								<f:render partial="Product_large.html" arguments="{product: product}"/>
							</f:then>
							<f:else>
								<f:render partial="Product_small.html" arguments="{product: product}"/>
							</f:else>
						</f:if>
					</div>		
				</f:if>
			</f:for>
		</f:for>
	</div>

</div>



