<div class="product">

	<picture class="picture">
	    <source 
	    	media="(max-width: 812px)" 
	    	srcset="{f:uri.image(src:'{data.image.0.originalFile.properties.uid}', width:'812', treatIdAsReference:'1')}, 
	    			{f:uri.image(src:'{data.image.0.originalFile.properties.uid}', width:'1624', treatIdAsReference:'1')} 2x"
	    >
	    <f:image src="{data.image.0.originalFile.properties.uid}"
	        title="title"
	        alt="alt"
	        treatIdAsReference="1"
	    />
	</picture>

	<f:if condition="{data.header}">
		<h1 class="header">{data.header}<h1>
	</f:if>

	<f:if condition="{data.subheader}">
		<h2 class="subheader">{data.header}<h2>
	</f:if>

	<f:if condition="{data.bodytext}">
		<div class="bodytext">
			<f:format.html>{data.bodytext}</f:format.html>
		</div>
	</f:if>

	<div class="more-button">
		<span>mehr lesen</span>
		<i class="icon-arrow-right"></i>
	</div>

	<f:if condition="{data.tx_mask_price}">
		<div class="price-wrapper">
			<p class="price">{data.tx_mask_price} €</p>
		</div>
	</f:if>

	<f:if condition="{data.header_link}">
		<div class="shop-button">
			<f:link.typolink parameter="{data.header_link}" title="button">
				<span>zum shop</span>
				<i class="icon-arrow-right"></i>
			</f:link.typolink>
		</div>
	</f:if>

	<div class="mail-button">
		<f:link.typolink 
				parameter="mailto:jozee.designs@gmail.com?subject=Anfrage:%20{f:cObject(typoscriptObjectPath: 'lib.spaceToHexa20', data: '{data.header}')}&body=Hallo%20Johanna,%20ich%20bin%20an%20deinen%20Produkten%20interessiert!"
				title="button">
			<span>mailanfrage</span>
			<i class="icon-arrow-right"></i>
		</f:link.typolink>
	</div>

</div>

