{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div class="product-list">

	<h1 class="header">
		{data.header}
	</h1>

	<f:if condition="{data.subheader}">
		<h2 class="subheader">{data.subheader}</h2>
	</f:if>

	<f:if condition="{data.bodytext}">
		<div class="text">
			<f:format.html>{data.bodytext}</f:format.html>
		</div>
	</f:if>

	<div class="product-list-wrapper">
		<f:for each="{products}" as="product">
			<div class="single-product-wrapper">
				<f:render partial="Product.html" arguments="{product: product}"/>
			</div>
		</f:for>
	</div>

</div>

