{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<body>

	<div class="main-container">

		<div class="main-nav">
			<f:format.raw>{MAINMENU}</f:format.raw>
		</div>

		<div class="mobile-nav">
		    <div class="header">
		    	<f:link.typolink parameter="1">
			    	<div class="logo">
						<img src="fileadmin\resources\images\logo.jpg">
					</div>
				</f:link.typolink>
				<div class="menu-opener">
				    <div class="line"></div>
				    <div class="line"></div>
				    <div class="line"></div>
				</div>
		    </div>
			<f:format.raw>{MOBILEMENU}</f:format.raw>
		</div>

		<f:format.raw>{HEADERSLIDER}</f:format.raw>

		<div class="content">
			<f:format.raw>{CONTENT}</f:format.raw>
		</div>

		{v:content.get(column: 100, pageUid: 1, limit: 1) -> f:variable(name: 'general_data')}
		<f:render partial="footer" arguments="{general_data: general_data.0}"/> 


	</div>

	<script src="fileadmin\resources\javascript\main.js"></script>

</body>

</html>