{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<body>

	<div class="main-container">

		<div class="main-nav">
			<f:format.raw>{MAINMENU}</f:format.raw>
		</div>

		<div class="mobile-nav">
		    <div class="header">
		    	<div class="logo">
					<img src="fileadmin\resources\images\logo.jpg">
				</div>
				<div class="menu-opener"></div>
		    </div>
			<f:format.raw>{MOBILEMENU}</f:format.raw>
		</div>

		<f:format.raw>{HEADERSLIDER}</f:format.raw>

		<div class="content">
			<f:format.raw>{CONTENT}</f:format.raw>
		</div>

		<f:cObject typoscriptObjectPath="lib.getProducts" />

		<v:variable.set name="test" value="{f:cObject(typoscriptObjectPath: 'lib.getProducts')}" />

		{test}

		

		<f:debug>{_all}</f:debug>	
		


	</div>

	<script src="fileadmin\resources\javascript\main.js"></script>

</body>

</html>