<div class="picture-wrapper">
    <picture class="picture">
        <source 
        	media="(max-width: 812px)" 
        	srcset="{f:uri.image(image:'{product.files.0}', height:'500c', width:'800c', treatIdAsReference:'1')}, 
        			{f:uri.image(image:'{product.files.0}', height:'1000c', width:'1600c', treatIdAsReference:'1')} 2x"
        >

        <source 
            media="(max-width: 1280px)" 
            srcset="{f:uri.image(image:'{product.files.0}', height:'390c', width:'640c', treatIdAsReference:'1')}, 
                    {f:uri.image(image:'{product.files.0}', height:'780c', width:'1280c', treatIdAsReference:'1')} 2x"
        >

        <f:image image="{product.files.0}"
            height="550c"
            width="850c"
            title="{product.data.header}"
            alt="{product.data.header}"
            treatIdAsReference="1"
        />
    </picture>
</div>

<div class="text-wrapper">
    <h2 class="header">{product.data.header}</h2>
    <div class="bodytext">
    	<f:format.html>{product.data.bodytext}</f:format.html>
    </div>
    <div class="link-price-wrapper">
    	<div class="more-button">
    		<f:link.typolink parameter="{product.data.pid}" title="button">
    			<span>mehr</span>
    			<i class="icon-arrow-right"></i>
    		</f:link.typolink>
    	</div>
    	<span class="price">{product.data.tx_mask_price} €</span>
    </div>
</div>