
<f:link.typolink parameter="{product.data.pid}" class="link">

    <picture class="picture">
        <source 
            media="(max-width: 812px)" 
            srcset="{f:uri.image(src:'{product.files.0.properties.uid}', height:'200c', width:'200c', treatIdAsReference:'1')}, 
                    {f:uri.image(src:'{product.files.0.properties.uid}', height:'400c', width:'400c', treatIdAsReference:'1')} 2x"
        >
        <f:image src="{product.files.0.properties.uid}"
            title="title"
            alt="alt"
            treatIdAsReference="1"
        />
    </picture>
    <h2 class="header">{product.data.header}</h2>
    <span class="price">{product.data.tx_mask_price} €</span>

</f:link.typolink>