<picture class="picture">
    <source 
    	media="(max-width: 812px)" 
    	srcset="{f:uri.image(src:'{product.files.0.properties.uid}', height:'300c', width:'400c', treatIdAsReference:'1')}, 
    			{f:uri.image(src:'{product.files.0.properties.uid}', height:'600c', width:'800c', treatIdAsReference:'1')} 2x"
    >
    <f:image src="{product.files.0.properties.uid}"
        title="title"
        alt="alt"
        treatIdAsReference="1"
    />
</picture>
<h2 class="header">{product.data.header}</h2>
<div class="bodytext">
	<f:format.html>{product.data.bodytext}</f:format.html>
</div>
<div class="link-price-wrapper">
	<div class="more-button">
		<f:link.typolink parameter="{product.data.pid}" title="button">
			<span>mehr</span>
			<i class="icon-arrow-right"></i>
		</f:link.typolink>
	</div>
	<span class="price">{product.data.tx_mask_price} €</span>
</div>